<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.lemon.bugtrackplatformserver.modules.mapper.IssueCommentsMapper">

    <resultMap id="BaseResultMap" type="org.lemon.bugtrackplatformserver.modules.domain.IssueComments">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="issueId" column="issue_id" jdbcType="BIGINT"/>
            <result property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="content" column="content" jdbcType="VARCHAR"/>
            <result property="mentionedUserIds" column="mentioned_user_ids" jdbcType="VARCHAR"/>
            <result property="createdAt" column="created_at" jdbcType="TIMESTAMP"/>
            <result property="updatedAt" column="updated_at" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,issue_id,user_id,
        content,mentioned_user_ids,created_at,
        updated_at
    </sql>
</mapper>
